# requirements.txt

Flask==1.0.2
gunicorn==19.9.0

# You'll probably need to update this later
# https://github.com/SeleniumHQ/selenium/releases
selenium==4.0.0

# You'll probably need to update this later
# https://github.com/danielkaiser/python-chromedriver-binary/tags
chromedriver-binary==v97.0.4692.71.0
